.book-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.book-list li {
    padding: 12px 12px 12px 24px;
    border-bottom: 1px solid #ddd;
}

.book-list li:last-child {
    border-bottom:none;
}

.book-list li:hover {
    background-color: #f8f9fa;
}

.btn-to-a{
    outline: none;
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    display: inline;

    padding-right: 0;
}

.btn-to-a i{
    color: #CFD8DC;
    font-size: 1em;
}